.wrapper {
  @apply p-2 flex items-stretch;

  .img {
    @apply rounded-image transition-colors;
    border: 1px solid transparent !important;

    &:hover {
      border-color: var(--color-primary) !important;
    }
  }

  .info {
    @apply ml-3 flex justify-between
    width: 67%;

    .title {
      @apply text-white text-lg truncate font-medium
    }

    .genres {
      @apply text-gray-600 text-sm
    }

    .rating {
      @apply flex items-center mb-2

      > svg {
        @apply text-lg fill-yellow-700 mr-2
      }

      > span {
        @apply text-white font-medium
      }
    }
  }

}